<z-layout class="h-full overflow-hidden">
  <app-header></app-header>

  <z-layout class="relative min-h-0 flex-1" zDirection="horizontal">
    @if (showSidebarOverlay()) {
      <button
        type="button"
        class="absolute inset-0 z-40 bg-black/30 dark:bg-white/10"
        [attr.aria-label]="'sidebar.close' | translate"
        (click)="closeSidebarOverlay()"
      ></button>
    }

    <app-sidebar
      [menuSections]="menuSections"
      [isSmallScreen]="isSmallScreen()"
      [sidebarCollapsed]="sidebarCollapsed()"
      (sidebarCollapsedChange)="setSidebarCollapsed($event)"
    ></app-sidebar>

    <z-layout
      class="min-w-0 flex-1"
      [attr.inert]="showSidebarOverlay() ? '' : null"
      [attr.aria-hidden]="showSidebarOverlay() ? 'true' : null"
    >
      <app-toolbar
        [sidebarCollapsed]="sidebarCollapsed()"
        [title]="toolbarTitle()"
        [actions]="toolbarActions()"
        (sidebarToggle)="toggleSidebar()"
      ></app-toolbar>

      <z-content class="min-h-0">
        <ng-content />
      </z-content>

    </z-layout>
  </z-layout>
</z-layout>
