<app-data-table
  [data]="rows()"
  [structure]="structure()"
  [rowClass]="rowClass()"
  minHeight="55dvh"
  [stickyHeader]="true"
  [highContrastHeader]="true"
  [title]="'nav.items.transactions'"
  description="transactions.table.description"
  emptyMessage="transactions.table.emptyMessage"
  [showEmpty]="true"
  [bordered]="true"
  [striped]="false"
  [hoverable]="true"
  [selectable]="false"
  [hasActionColumn]="false"
  [showPagination]="showPagination()"
  [currentPage]="currentPage()"
  [totalPages]="totalPages()"
  [pageSize]="pageSize()"
  [pageSizeOptions]="pageSizeOptions()"
  [maxVisiblePages]="maxVisiblePages()"
  [pageSizeLabel]="pageSizeLabel()"
  [showPageSizeSelector]="showPageSizeSelector()"
  [showTopPagination]="showTopPagination()"
  (pageChange)="onPageChange($event)"
  (pageSizeChange)="onPageSizeChange($event)"
  (editableValueChange)="onEditableValueChange($event)"
></app-data-table>
