:host {
  display: block;
}

.export-path {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.import-path {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
