@if (isLoading()) {
  <z-skeleton class="h-12 w-full"></z-skeleton>
  <z-skeleton class="h-60 w-full"></z-skeleton>
} @else if (loadError(); as loadError) {
  <div class="rounded-md border border-destructive/30 bg-destructive/5 p-4 text-sm text-destructive">
    Failed to load transfers: {{ loadError }}
  </div>
} @else {
  <app-data-table
    [data]="rows()"
    [structure]="tableStructure()"
    [tableActions]="tableActions()"
    [active-filters]="activeFilters()"
    minHeight="35dvh"
    [stickyHeader]="true"
    [title]="'transactions.view.transfers'"
    description="transactions.transfers.table.description"
    emptyMessage="transactions.transfers.table.emptyMessage"
    [appearance]="'default'"
    [showEmpty]="true"
    [hoverable]="true"
    [selectable]="false"
    [hasActionColumn]="false"
    [showPagination]="true"
    [currentPage]="page()"
    [totalPages]="pageCount()"
    [pageSize]="pageSize()"
    [pageSizeOptions]="pageSizeOptions"
    [maxVisiblePages]="5"
    [pageSizeLabel]="'common.pagination.rowsPerPage' | translate"
    [showPageSizeSelector]="true"
    [showTopPagination]="true"
    (pageChange)="onPageChange($event)"
    (pageSizeChange)="onPageSizeChange($event)"
    (editableValueChange)="onEditableValueChange($event)"
    (activeFilterRemove)="onActiveFilterRemove($event)"
  ></app-data-table>
}
